/* _content/Real-Estate-Services/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9c81zbphwq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9c81zbphwq] {
  color: #0077cc;
}

.btn-primary[b-9c81zbphwq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9c81zbphwq], .nav-pills .show > .nav-link[b-9c81zbphwq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9c81zbphwq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9c81zbphwq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9c81zbphwq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9c81zbphwq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9c81zbphwq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Real-Estate-Services/Views/Shared/_Layout_Admin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fsesb7uiuo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fsesb7uiuo] {
  color: #0077cc;
}

.btn-primary[b-fsesb7uiuo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fsesb7uiuo], .nav-pills .show > .nav-link[b-fsesb7uiuo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fsesb7uiuo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fsesb7uiuo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fsesb7uiuo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fsesb7uiuo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fsesb7uiuo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Real-Estate-Services/Views/Shared/_Layout_Index.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8d9tx96z0x] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8d9tx96z0x] {
  color: #0077cc;
}

.btn-primary[b-8d9tx96z0x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8d9tx96z0x], .nav-pills .show > .nav-link[b-8d9tx96z0x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8d9tx96z0x] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8d9tx96z0x] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8d9tx96z0x] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8d9tx96z0x] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8d9tx96z0x] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Real-Estate-Services/Views/Shared/_Layout_Login.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tw9tgv02op] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tw9tgv02op] {
  color: #0077cc;
}

.btn-primary[b-tw9tgv02op] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tw9tgv02op], .nav-pills .show > .nav-link[b-tw9tgv02op] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tw9tgv02op] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tw9tgv02op] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tw9tgv02op] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tw9tgv02op] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tw9tgv02op] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
